@model ConfigurationRecords
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h2>Yeni Konfigürasyon Ekle</h2>

<form asp-action="Create">
    <div class="form-group">
        <label>Ad</label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Tip</label>
        <select asp-for="Type" class="form-control">
            <option value="string">String</option>
            <option value="int">Int</option>
            <option value="bool">Boolean</option>
            <option value="double">Double</option>
        </select>
    </div>
    <div class="form-group">
        <label>Değer</label>
        <input asp-for="Value" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Aktif Mi?</label>
        <select asp-for="IsActive" class="form-control">
            <option value="true">Evet</option>
            <option value="false">Hayır</option>
        </select>
    </div>
    <div class="form-group">
        <label>Uygulama Adı</label>
        <input asp-for="ApplicationName" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Kaydet</button>
</form>
